@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Bebas Neue', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --gutter: 1rem;
  }
  @media screen and (min-width: 768px) {
    :root {
      --gutter: 1.25rem;
    }
  }
  @media screen and (min-width: 1024px) {
    :root {
      --gutter: 3.125rem;
    }
  }
  @media screen and (min-width: 1513px) {
    :root {
      --gutter: 5vw;
    }
  }
}

body {
  margin: 0;
}
